body {
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
}

video {
    width: 100vw;
    height: 100vh;
    object-fit: contain; /* Asegura que el video se ajuste sin estirarse */
}
